<div class="col-xs-12 col-sm-10 offset-sm-1 col-md-6 offset-md-3">
  <div class="form-group">
      <%= simple_form_for @profile do |f| %>
        <%= f.input :first_name, label: "Prénom"  %>
        <%= f.input :last_name, label: "Nom de Famille" %>
        <%= f.input :phone_number, label: "Numéro de téléphone" %>
        <%= f.input :dinner, label: "Participeras-tu au dîner ?", as: :radio_buttons, collection: [[ true, "Bien entendu !"], [false, "Non, pas le temps"]], label_method: :second, value_method: :first  %>
        <%= f.input :party, label: "Participeras-tu à la soirée ?", as: :radio_buttons, collection: [[ true, "Oui !"], [false, "Non merci"]], label_method: :second, value_method: :first %>
        <div class="align-buttons">
          <%= f.submit "Valider", class: "btn btn-primary"%>
          <% end %>
          <%= link_to "Retour", profile_path(@profile), class: "btn btn-primary"%>
        </div>
  </div>
</div>
