<div class="container">
  <div class="row">
    <div class="col col-md-8 offset-md-2">
      <div class="santerre-form">
        <h2>Pour valider définitivement ton compte, nous avons besoin de quelques renseignements supplémentaires sur toi</h1>

        <p>Nous avons besoin de ces renseignements pour vérifier l'identité des participants et assurer la sécurité de chacun.</p>

        <%= simple_form_for @profile, :url => { :action => "create" }  do |f| %>
          <%= f.input :first_name, label: 'Prénom', placeholder: "Maxwell" %>
          <%= f.input :last_name, label: 'Nom de famille', placeholder: "Cornet"%>
          <%= f.input :gender, label: 'Vous êtes', as: :radio_buttons, collection: [[ 'female', 'une femme'], [ 'male', 'un homme']], label_method: :second, value_method: :first %>
          <%= f.input :phone_number, label: "Votre numéro de téléphone", placeholder: '06.06.06.06.06' %>
          <%= f.input :role, label: "Quel est ton rôle ?", as: :radio_buttons, collection: [[:player, "Je suis un joueur"], [:spectator, "Je suis un spectateur"]], label_method: :second, value_method: :first %>
          <%= f.input :dinner, label: "Seras-tu présent au dîner ?", as: :radio_buttons, collection: [[ true, "Oui"], [false, "Non merci"]], label_method: :second, value_method: :first %>
          <%= f.input :party, label: "Participeras-tu à la soirée ?", as: :radio_buttons, collection: [[ true, "Bien entendu"], [false, "Non, je suis trop vieux pour ça"]], label_method: :second, value_method: :first %>
          <%= f.button :submit, "Créer mon profil", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

