<div class="wrapper-white-actions">
  <div class="container-fluid">
    <div class="row">
    <h1>Visons plus qu’une victoire</h1>
    <p>Depuis 2017, la Santerre Cup est une association de loi 1901 d’intérêt général. 100% des bénéfices réalisés grâce aux dons des sponsors et à la participation des joueurs et joueuses sont reversés à des associations caritatives. Voici les dons de la IIIème édition !</p>
    </div>
    <div class="row">
      <div class="nos-actions-card">
        <div class="col-lg-4 col-md-10">
          <%= image_tag "http://poussieresdevie.org/wp-content/uploads/2018/10/logo-pdv-grand.png", class: "d-none d-lg-block img-action" %>
        </div>
        <div class="col-lg-8 col-md">
          <h4>Poussières de vie<p> <%= link_to "(http://poussieresdevie.org)"%></p></h4>
          <p>Poussières de vie est une organisation sans but lucratif, indépendante, apolitique et non-religieuse qui vient en aide aux populations vietnamiennes les plus défavorisée à Hô-Chi-Minh-Ville et dans la province de Kan Tum. Ils font la promotion de changement durable dans la vie des enfants vietnamiens défavorisés en les rescolarisant, leur apprenant un métier et en favorisant leur développement personnel.</p>
          <p>La Santerre Cup lui a fait don de 2 000€ pour le lancement de son projet « Point Sport », initié par notre membre Auriane, qui donne aujourd’hui accès au sport à 200 enfants issus de minorités ethniques et vivant dans des orphelinats.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="nos-actions-card">
        <div class="col-lg-4 col-md-10">
          <img src="https://www.lettresadhesives.net/storage/stickers/sticker%20rose%20des%20vents%2012.png?frz-v=17" width="400" height="400" class="d-none d-lg-block img-action" >
        </div>
        <div class="col-lg-8 col-md">
          <h4>L’Arche la Rose des Vents Verpillères <p> <%= link_to "(https://www.le-site-de.com/l-arche-la-rose-des-vents-verpillieres_85222.html)"%></p></h4>
          <p>L’Arche la Rose des Vents Verpillères est un foyer d’hébergement et de services pour adultes en situation de handicap, situé à Verpillières.</p>
          <p>La Santerre Cup lui a reversé 2 000€ afin d’aménager un jardin thérapeutique pour les personnes qui y résident.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="nos-actions-card">
        <div class="col-lg-4 col-md-10">
          <%= image_tag "https://www.centreoscarlambret.fr/themes/oscar/assets/images/logo-centre-oscar-lambret.jpg", class: "d-none d-lg-block img-action-2" %>
        </div>
        <div class="col-lg-8 col-md">
          <h4>Le Centre Oscar Lambret<p> <%= link_to "(https://www.centreoscarlambret.fr)" %></p></h4>
          <p>Le Centre Oscar Lambert est un hôpital universitaire et centre régional spécialisé dans la lutte contre le cancer. Le centre Oscar Lambret a trois missions principales : le soin, la recherche et l’enseignement. Il prend plus de 22 000 patients en charge chaque année.</p>
          <p>La Santerre Cup lui versé 2 000€ afin de contribuer à faire progresser les recherches.</p>
        </div>
      </div>
    </div>
  </div>
</div>
