<div class="wrapper-white-navbar">
  <div class="container-fluid">
    <div class="row">
      <h1>La Santerre Cup, un événement sportif et bon enfant qui ne laisse personne indifférent</h1>
      <p>Originellement un tournoi de copains, la Santerre Cup s’est peu à peu développée et agrandie pour devenir un événement incontournable des Hauts-de-France. Très attachée à ses racines et profondément ancrée dans sa région, la Santerre Cup tient son nom de cette terre fertile où le tournoi est organisé et d’où sont originaires les fondateurs. On vous raconte notre histoire.</p>
    </div>
    <div class="row little-space">
      <div class="col-md-7">
        <h3>Au commencement était le football …</h3>
        <p>En 2014, les frères Gonzague et Pierre-Antoine Gru  imaginent ce qui s’appelle à l’époque « L’Estremons Cup ».</p>
        <p>Le principe de ce tournoi : délimiter les terrains avec  des « palox », qui servent à l’origine à stocker les récoltes de pommes de terre. Lors de cette première édition, 100 amis originaires des Hauts-de-France se sont réunis pour le sport et la fête.</p>
      </div>
      <div class="col-md">
      <%= image_tag "photo23.JPG", class: "photo-card" %>
      </div>
    </div>
  </div>
</div>
<div class="wrapper-gray">
  <div class="container-fluid">
    <div class="row little-space">
      <div class="col-md">
        <%= image_tag "photo5.JPG", class: "photo-card" %>
      </div>
      <div class="col-md-7">
        <h3>2015, la jeune génération entre en jeu !</h3>
        <p>Très motivés par la première édition, Donatien Dupuy, Martin de Becquincourt, Maxence Ammeux et Rodrigue Frassaint décident d’honorer leurs amis fondateurs. Ils reprennent le flambeau : même principe, même ambiance mais avec une réelle volonté d’accueillir plus de participants.</p>
        <p>Le 10 juin 2015, ce qui était devenu « la Santerre Cup IIème édition » offrait alors aux 250 participants une ambiance conviviale, sportive et festive.</p>
      </div>
      <div class="row big-space">
        <div class="col-md-7">
          <h3>2017, le bond en avant</h3>
          <p>En 2017, la IIIème édition prend une nouvelle dimension ! L’équipe s’agrandit encore avec l’engagement d’Albéric Decanter, Arthur Deffontaines, Auriane Buridard, Colombe Decarne et Jean Mennesson. En plus de continuer à démocratiser l’événement, l’ensemble du comité se fixe de nouveaux objectifs et décide d’associer cette rencontre sportive à la solidarité.</p>
          <p>La Santerre Cup devient alors une association loi 1901, rassemble désormais 450 participants, est soutenue par 31 partenaires et reverse 100% de ses bénéfices à des associations caritatives !</p>
        </div>
        <div class="col-md">
          <%= image_tag "photo8.JPG", class: "photo-card" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wrapper-white-navbar">
  <div class="container">
    <div class="row">
      <div class="col-md">
        <h3>2019, la confirmation ?</h3>
        <p>Pour cette nouvelle édition, le comité souhaite confirmer l’élan pris par l’événement lors de la IIIème édition. Pour l’amour du sport, la joie de l’engagement, l’envie d’aider et la célébration d’être une fois de plus réunis autour de valeurs communes. Pour cette nouvelle édition, les objectifs sont d'accroître les inscriptions d'équipes féminines et d'augmenter les recettes pour reverser toujours plus aux associations caritatives. <%= link_to "Sponsors, à vous de jouer !", nous_soutenir_path %></p>
        <p>Un seul sport au menu, le football, pour réunir garçons et filles vers le même objectif de solidarité. Et le tout pour une entrée à 40€ tout compris.</p>
        <%= image_tag "photo4.JPG", class: "photo-card-small bottom-space" %>
      </div>
    </div>
  </div>
</div>
